html{
	scroll-behavior: smooth;
}
.padtop{
	margin-top: 60px;
}
.index-content{
	margin-top: 70px;
	margin-bottom: 70px;
}
.botnav{
	display: flex;
    justify-content: center;
}
.mobile-nav{
	position: fixed;
    bottom: 0;
    background-color: #0A105A;
    border-radius: 16px;
}
nav .brand-logo.left{
	display: flex;
	align-items: center;
	height: 55px;
}
.botnav{
	background-color: #0A105A;
}
.para{
	padding:0 1em 3rem 1em;
}
.scroll{
	background-color: #0A105A; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	transition: top 0.3s; 
	z-index: 999;
}
.col.l4.s12.center.card-bg {
    background: #f5f5f5;
    margin-bottom: 10px;
    padding: 1rem ;



}
a.waves-effect.waves-light.btn-color{
	color: #f5f5f5;
	background-color: #233d87;
	padding: 1em;
	border-radius: 1em;
    padding: 1em;
}
.btn-floating{
	color: #0A105A;
}
.tmb-club{
	width: 70px;
}
.detail{
	margin-top: 70px;
}
.squad{
	margin-bottom: 70px;
}
/*.colors{
	color:#233D87;
	color:#0A105A;
	color:#EC6F59; 
	color:#F5F5F5; 
}*/